---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Read what I'm focused on at this point in my life",
	title: "Now",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">Now</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p class="italic">
			This is my <a
				class="cactus-link inline-block"
				href="https://nownownow.com/about"
				rel="noreferrer"
				target="_blank">now page</a
			>, where I share what I'm focused on at this point in my life. It was <span
				class="font-semibold">last updated on April 25, 2026</span
			>.
		</p>
		<h2>Web Development</h2>
		<p>
			After doing very little web development in 2025, I started a 100 Days of Code challenge on
			February 2. I'm focusing on <a
				class="cactus-link inline-block"
				href="https://www.frontendmentor.io/"
				rel="noreferrer"
				target="_blank">Frontend Mentor</a
			> challenges, but took some time over the Easter weekend to get my personal website up and running
			with the <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-theme-cactus"
				rel="noreferrer"
				target="_blank"
			>
				Astro Cactus
			</a> theme.
		</p>
		<h2>Running</h2>
		<p>
			To get away from my computer, I run and hike. My goals for spring were to run a 10K
			(6.2&nbsp;miles) road race and my first trail race. I finished the <a
				class="cactus-link inline-block"
				href="https://runsignup.com/Race/NC/Greensboro/OnlyFoolsRunHalfMarathonand10K"
				rel="noreferrer"
				target="_blank"
			>
				Only Fools Run 10K
			</a> on March 28 in 1:22:23.7, which was faster than I expected, and the <a
				class="cactus-link inline-block"
				href="https://runsignup.com/Race/NC/Greensboro/OwlsRoostRumble"
				rel="noreferrer"
				target="_blank">Owls Roost Rumble 4 Mile</a
			> trail race (6.4&nbsp;km) on April 25 in 1:03:49.2. I plan to run another 10K road race in fall.
		</p>
		<h2>Read Around the World</h2>
		<p>
			As a less active leisure activity, I like to listen to audiobooks. The <a
				class="cactus-link inline-block"
				href="https://bookmarksnc.org/passport"
				rel="noreferrer"
				target="_blank">Passport Club</a
			> by Bookmarks, an independent bookstore in Winston-Salem, NC, encourages its members to read one
			book from every country in the world. I'm currently listening to <a
				class="cactus-link inline-block"
				href="https://libro.fm/audiobooks/9781508286578-the-stationery-shop"
				rel="noreferrer"
				target="_blank">The Stationary Shop</a
			> by Marjan Kamali for Iran.
		</p>
		<h2>Handicraft</h2>
		<p>
			While I'm listening to audiobooks, I like to do a handicraft. Earlier this year, I picked up
			crochet. For now, I'm working on smaller projects to learn patters and techniques. I also have
			the opportunity to make comfort wraps for a group that distributes them to individuals facing
			illness, grief, or other difficult times to provide warmth, comfort, and encouragement. This
			puts my crochet skills to good use and solves the question what to do with the finished
			product.
		</p>
		<h2>Mindfulness</h2>
		<p>
			My mindfulness practice is integral to my mental health and wellbeing. My focus is on
			compassion for myself and others, and I'm currently learning loving-kindness meditation.
		</p>
	</div>
</PageLayout>
